/* #START OF HOME PAGE CODE */

body,
html {
  width: 100%;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans' ";
  scroll-behavior: smooth;
}

/* #background of side nav bar pages */
body {
  background: rgb(248, 229, 229);
}

/* #TOP BAR CSS CODE (home) */
/* # how big my top logo design is */
.logo {
  width: 20%;
}

/* #nav bar background */
.nav-bar {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  /* background: #fa255e; */
}

/* #moving my nav bar over */
nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: inline-block;
  list-style: none;
  border: 5px solid #c39ea0;
}

/* #nav list format (spacing my words) */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

/* #the color and boldness of my nav bar words */
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* #the color of the line that pops up when I hover over a word */
nav ul li a:hover {
  text-decoration: underline;
  border-bottom: solid 5px #fa255e;
}

/* #where my home page intro words are */
.intro {
  margin-left: 8%;
  /* margin-top: 10%; */
  /* align-items: center; */
  /* text-align: center; */
}

/* #the color and size of my intro words */
.intro h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
  font-size: 5rem;
  font-weight: 700;
}

/* 
#the color of my last name */
.last-name {
  color: #fa255e;
  width: 70px;
  height: 70px;
  display: block;
  background: rgb(248, 229, 229);
  border-radius: 50%;
  margin-left: 20%;
}

/* #the color of my body words in my intro */
.intro p {
  color: black;
  line-height: 22px;
  font-size: 2rem;
}

.about-img {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* #the size of the body words on skills and projects page */
p {
  font-size: 2rem;
}

/* #MY INTRO PARAGRAPH */
.aboutme-para p {
  width: 50%;
  line-height: 1.1;
}

/* #the styling of a button for my resume */
.intro a {
  background: #fa255e;
  padding: 9px 22px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 30px 0px;
  border-radius: 30px;
  border: 2px solid;
  padding: 9px 22px;
}

.intro a:hover {
  background-color: transparent;
  cursor: pointer;
}

/* #START OF CONTACT PAGE CODE */
/* #home page contact links */
.home-container {
  width: 45%;
  margin: 0 auto;
  float: center;
}

.contact-card {
  background-color: white;
  padding: 1.3em;
  margin-left: 20px;
}

.contacth {
  text-align: center;
  margin-bottom: 2rem;
}

/* #contact bar container */
.home-container {
  width: 65%;
  margin: 0 auto;
  margin-left: 150px;
}

/* #CONTACT LINKS */
.linkin-pic {
  /* margin-left: 200px; */
  /* margin-top: -50%; */
  height: 10em;
  float: right;
  margin-top: 210px;
}

.github-pic {
  /* margin-left: 200px; */
  /* margin-bottom: -40px; */
  height: 10em;
  float: right;
  margin-top: 110px;
}

.email-pic {
  height: 10em;
  float: right;
  margin-top: 100px;
}

/* #The images on my home page */
/* #the size of my images and how they look */
.images {
  /* max-width: 45%; */
  width: 40%;
  height: 50%;
  position: absolute;
  bottom: 10px;
  right: 100px;
  /* margin-bottom: 10%; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  /* border: 5px solid red; */
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  transition: bottom 4s left 4s;
  z-index: 1;
}

/* #the movement/alignment of the icon */
.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 220px;
  transition: all 0.5s ease;
}

/* #START OF FOOTER CODE */
.footer-box {
  box-sizing: border-box;
}

main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  line-height: 3.8;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: black;
  background-color: rgb(248, 229, 229);
}

/* #MEDIA FOR screen */
@media screen and (min-width: 600px) {
  .footer-box {
    flex: 1;
  }
}

@media screen (max-width: 600px) {
  .footer {
    padding: 15px;
  }

  main {
    font-size: 55px;
  }
}

/* #START OF SKILLS PAGE CODE */
.container {
  width: 95%;
  margin: 0 auto;
}
h1,
p {
  font-size: 1em;
}
h1 {
  /* margin: 2em 0 -0.2em; */
  font-family: "Seymour One", sans-serif;
}
section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1em;
  margin-top: 2em;
}
.card {
  background-color: white;
  padding: 1.7em;
  align-items: center;
  text-align: center;
  border: 5px solid #c39ea0;
}
blockquote {
  margin: 0;
}

/* #Spans for Skills */
span {
  width: 70px;
  height: 70px;
  display: block;
  /* background: gray; */
  /* background-image: url(images/java.png); */
  border-radius: 50%;
  margin: 0 auto;
}

/* #SKILLS LOGO SET UPS */
.java-skill-logo {
  width: 100%;
  /* margin-right: -500%; */
}

.boot-skill-logo {
  width: 100%;
  /* margin-bottom: 10%; */
}

.css-skill-logo {
  width: 100%;
}

.django-skill-logo {
  width: 100%;
}

.git-skill-logo {
  width: 100%;
}

.java-script-skill-logo {
  width: 100%;
}

.python-skill-logo {
  width: 100%;
}

.spring-skill-logo {
  width: 100%;
}

.post-sql-skill-logo {
  width: 100%;
}

.sql-skill-logo {
  width: 50%;
}

/* #SOME MORE CARD CODE */
cite {
  font-style: normal;
  font-family: "Amatic SC", cursive;
  font-size: 1.4em;
}

h1,
p,
blockquote p,
cite {
  font-family: "Montserrat";
}

h1 {
  font-size: 2em;
}

blockquote p {
  line-height: 1.5em;
}

cite {
  font-size: 0.7em;
  font-weight: bold;
  color: #373737;
}

/* #START OF PROJECTS LOGO  */
.twotter-logo {
  align-items: center;
  width: 100%;
}

.sfd-skill-logo {
  width: 100%;
}

/* #picture is removed for phones */
@media only screen and (max-width: 600px) {
  /* #The images on my home page */
  /* #the size of my images and how they look */
  .images {
    /* max-width: 45%; */
    width: 40%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
    display: none;
  }

  .images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    transition: bottom 4s left 4s;
    display: none;
  }

  .about-img {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: none;
  }
  /* #about me para */
  .aboutme-para p {
    width: 50%;
    line-height: 80px;
    display: 100%;
  }

  .paragraph {
    line-height: 40px;
  }

  /* #HEadig words(my name) */
  .intro {
    align-items: center;
    text-align: center;
  }

  .intro h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    font-size: 5rem;
    font-weight: 700;
  }

  .intro p {
    color: black;
    line-height: 22px;
    font-size: 2rem;
    /* display: 100%; */
    width: 100%;
  }

  /* #nav bar */
  .nav-bar {
    position: relative;
    width: 100%;
    height: 10vh;
    background: blue;
    align-items: center;
    text-align: center;
  }
}

/* #MEDIA FOR IPADS & Surface */
@media only screen and (max-width: 720px) {
  /* #Image needs to go to the right */
  .images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    transition: bottom 4s left 4s;
    margin-left: 1000%;
    width: 80%;
  }

  .shape {
    margin-right: 50%;
  }
  .me {
    height: 1000%;
  }

  .images {
    height: 1000%;
  }
}
