* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans' ";
}

body {
  background: #f5f6fa;
}

.wrapper .sidebar {
  background: rgb(248, 229, 229);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 500%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #000000;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: #000000;
  font-size: 14px;
}
