/* #START OF HOME PAGE CODE */
body,
html {
  width: 100%;
  scroll-behavior: smooth;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans' ";
  scroll-behavior: smooth;
}

/* #Background Color */
body {
  background: rgb(248, 229, 229);
}

/* # How big my top logo design is */
.logo {
  width: 20%;
}

/* #NAV BAR CODE */
nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
/* #Nav bar*/
.nav-bar {
  position: none;
  z-index: 10000;
  width: 100%;
  margin-left: 7px;
  align-items: center;
  /* height: 100vh; */
  /* background: #fa255e; */
}

/* #Nav bar scroll(Skills) */
#skills {
  scroll-margin-top: 5em;
}
/* #nav bar scroll(Projects) */
#projects {
  scroll-margin-top: 15em;
}

/* #The border of my nav bar */
nav ul {
  display: inline-block;
  list-style: none;
  border: 5px solid #c39ea0;
  border-radius: 30px;
}

/* #Resune button */
button {
  background-color: rgb(248, 229, 229);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  border: 5px solid #c39ea0;
  font-weight: bold;
  
 
}

button :hover{
  background-color: fa255e;
}

/* #Nav list format (spacing my words) */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

/* #The color and boldness of my nav bar words */
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* #the color of the line that pops up when I hover over a word */
nav ul li a:hover {
  text-decoration: underline;
  border-bottom: solid 5px #fa255e;
}

/* #START OF MY INFRO WORDS CODE */
/* #where my home page intro words are(my name) */
.hi {
  /* color: #fa255e; */
  color: black;
  font-size: 160%;
}
/* #MY INTRO PARAGRAPH */
.intro {
  margin-left: 8%;
  margin-bottom: 5%;
  line-height: 22px;
  font-size: 2rem;
  font-size: 20px;
}

/* #MY INTRO PARAGRAPH spacing */
.aboutme-para p {
  width: 50%;
  line-height: 1.1;
}

/* #START OF HOME PAGE IMAGE CODE  */
/* #the size of my images and how they look */
.images {
  /* max-width: 45%; */
  width: 60%;
  height: 50%;
  position: absolute;
  bottom: -300px;
  right: 100px;
  /* margin-bottom: 10%; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  /* border: 5px solid red; */
}

.images img {
  height: 100%;
  position: absolute;
  left: 70%;
  bottom: 100%;
  transform: translateX(-50%);
  transition: bottom 4s left 4s;
  z-index: 1;
}

/* #the movement/alignment of the icon */
.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 220px;
  transition: all 0.5s ease;
}


/* #START OF SKILLS PAGE CODE */
.container {
  width: 95%;
  margin: 0 auto;
}
/* #SKILLs INTRO WORDS */
.skills-h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 19%;
}

/* #Spacing of words */
h1,
p {
  font-size: 1em;
  font-family: "Seymour One", sans-serif;
  margin-top: 100px;
  /* text-align: center; */
}

section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1em;
  margin-top: 2em;
}

.scard {
  background-color: white;
  padding: 1.7em;
  align-items: center;
  text-align: center;
  border: 5px solid #c39ea0;
  border-radius: 30px;
}

/* #spans for Skills */
span {
  width: 70px;
  height: 70px;
  display: block;
  /* background: gray; */
  /* background-image: url(images/java.png); */
  border-radius: 50%;
  margin: 0 auto;
}

/* #SKILLS LOGO SET UPS */
.java-skill-logo {
  width: 100%;
  /* margin-right: -500%; */
}

.boot-skill-logo {
  width: 100%;
  /* margin-bottom: 10%; */
}

.css-skill-logo {
  width: 100%;
}

.django-skill-logo {
  width: 100%;
}

.git-skill-logo {
  width: 100%;
}

vs-skill-logo{
  width: 100%;
  margin-right: 200%;
  margin-right: 20%;
}

.java-script-skill-logo {
  width: 100%;
}

.python-skill-logo {
  width: 100%;
}

.spring-skill-logo {
  width: 100%;
}

.post-sql-skill-logo {
  width: 100%;
}

.sql-skill-logo {
  width: 100%;
  /* margin-bottom: 20%; */
}

.canva-skill-logo{
  width: 100%;
  margin-bottom: 130%;
  margin-right: 300%;
}

.adobe-skill-logo{
  width: 100%;
  margin-right: 200%;
  margin-right: 20%;
}


/* #new */


/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

/* #SOME MORE CARD CODE */
cite {
  font-style: normal;
  font-family: "Amatic SC", cursive;
  font-size: 1.4em;
}

h1,
p,
cite {
  font-family: "Montserrat";
}

h1 {
  font-size: 2em;
}

cite {
  font-size: 0.7em;
  font-weight: bold;
  color: black;
}

/* #START OF PROJECTS CODE  */
.projects-h1 {
  text-align: center;
  font-size: 50px;
  bottom: 50px;
}
/* #Projects links (to view projects)*/
h5 {
  text-align: center;
  font-size: 15px;
}

.pcard {
  background-color: white;
  padding: 1.7em;
  align-items: center;
  text-align: center;
  border: 5px solid #c39ea0;
  border-radius: 30px;
}

.twotter-logo {
  align-items: center;
  width: 100%;
}

.sfd-skill-logo {
  width: 100%;
}

/* #START OF MEDIA FOR PHONE SCREEN CODE */
/* #picture is removed for phones */
@media only screen and (max-width: 600px) {
  /* #HEADING words(my name) */
  .intro {
    align-items: center;
    text-align: center;
  }

  .intro h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    font-size: 5rem;
    font-weight: 700;
  }

  .intro p {
    color: black;
    line-height: 220pt;
    font-size: 2rem;
    width: 100%;
    margin-left: 2%;

  }


  /* #The images on my home page */
  /* #the size of my images and how they look */
  .images {
    /* max-width: 45%; */
    width: 40%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
    display: none;
  }

  .images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    transition: bottom 4s left 4s;
    display: none;
  }

  .about-img {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: none;
  }
  /* #about me para */
  .aboutme-para p {
    width: 50%;
    line-height: 80vh;
    display: 100%;
  }

  .paragraph {
    line-height: 40px;
  }

  /* #HEadig words(my name) */
  .intro {
    align-items: center;
    text-align: center;
  }

  .intro h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    font-size: 5rem;
    font-weight: 700;
  }

  .intro p {
    color: black;
    line-height: 22pt;
    font-size: 2rem;
    /* display: 100%; */
    width: 100%;
  }

  /* #nav bar */
  .nav-bar {
    position: relative;
    width: 100%;
    height: 10vh;
    /* background: blue; */
    align-items: center;
    text-align: center;
  }

  .card {
    background-color: white;
    padding: 1.7em;
    align-items: center;
    text-align: center;
    border: 5px solid #c39ea0;
  }

  section {
    display: block;
    width: 100%;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    margin-top: 2em;
  }

  nav ul {
    display: inline-block;
    list-style: none;
    /* border: 5px solid #c39ea0; */
  }
}

/* #START OF MEDIA FOR IPADS & Surface */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  /* #Image needs to go to the right */

  .images {
    /* max-width: 45%; */
    width: 40%;
    height: 50%;
    position: absolute;
    bottom: -300px;
    right: 400px;
    /* margin-bottom: 10%; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    /* border: 5px solid red; */
    display: none;
  }

  .shape {
    margin-right: 50%;
    display: none;
  }
  .me {
    height: 1000%;
    display: none;
  }

  .images {
    height: 1000%;
    display: none;
  }

  .images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    transition: bottom 4s left 4s;
    z-index: 1;
    display: none;
  }
  .footer-box {
    box-sizing: border-box;
    /* border: 5px solid #c39ea0; */
    align-items: center;
    text-align: center;
    margin-left: 200px;
  }
  footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: black;
    background-color: rgb(248, 229, 229);
    margin-right: 3500px;
  }
}

/* #MEDIA FOR IPADS & Surface */
@media only screen and (min-width: 601px) and {
  /* #Image needs to go to the right */

  .images {
    /* max-width: 45%; */
    width: 40%;
    height: 50%;
    position: absolute;
    bottom: -300px;
    right: 400px;
    /* margin-bottom: 10%; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    /* border: 5px solid red; */
    display: none;
  }

  .shape {
    margin-right: 50%;
    display: none;
  }
  .me {
    height: 1000%;
    display: none;
  }

  .images {
    height: 1000%;
    display: none;
  }

  .images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    transition: bottom 4s left 4s;
    z-index: 1;
    display: none;
  }
}
